.features {
  background: var(--c-background-features);
  padding: 90px 0;
  &-content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    @include tablet-small {
      flex-direction: column;
      row-gap: 50px;
      justify-content: center;
    }
  }
  &-item {
    max-width: 320px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
    &:hover {
      opacity: 0.7;
    }
    @include tablet-small {
      max-width: none;
    }
    &__title {
      padding: 25px 0 25px;
      font: var(--txt-400-24-100-ff);
      color: var(--c-text-black);
    }
    &__desc {
      font: var(--txt-400-18-160-ff);
      color: var(--c-color-desc-3);
    }
  }
}
