:root {
  --html-fs: 1px;
  --ff: "Source Sans 3", sans-serif;
  --transition: 0.2s all ease-in-out;
  --transition-2: 0.5s ease;

  --txt-700-62-100-ff: normal 700 62px / 106% var(--ff);
  --txt-700-52-100-ff: normal 700 52px / 106% var(--ff);
  --txt-700-42-100-ff: normal 700 42px / 106% var(--ff);
  --txt-700-32-100-ff: normal 700 32px / 106% var(--ff);
  --txt-400-52-100-ff: normal 400 52px / 100% var(--ff);
  --txt-400-30-100-ff: normal 400 30px / 100% var(--ff);
  --txt-400-22-100-ff: normal 400 22px / 100% var(--ff);
  --txt-400-20-100-ff: normal 400 20px / 100% var(--ff);
  --txt-400-18-175-ff: normal 400 18px / 175% var(--ff);
  --txt-400-18-100-ff: normal 400 18px / 100% var(--ff);
  --txt-400-16-100-ff: normal 400 16px / 100% var(--ff);
  --txt-400-14-175-ff: normal 400 14px / 175% var(--ff);
  --txt-400-14-100-ff: normal 400 14px / 100% var(--ff);
  --txt-400-12-100-ff: normal 400 12px / 100% var(--ff);

  --c-text-white: #fff;
  --c-color-link: #302d2d;
  --c-color-desc: #c5c1fe;
  --c-color-desc-2: #6b6868;
  --c-background: #2378c9;
  --c-background-menu: #0e6eaa;
  --c-background-btn: #f86d6d;
  --c-background-btn2: #5eb8f0;
}
