:root {
  --html-fs: 1px;
  --ff: "Source Sans 3", sans-serif;
  --transition: 0.2s all ease-in-out;
  --transition-2: 0.5s ease;

  --txt-700-62-100-ff: normal 700 62px / 100% var(--ff);
  --txt-700-52-100-ff: normal 700 52px / 100% var(--ff);
  --txt-700-42-100-ff: normal 700 42px / 100% var(--ff);
  --txt-700-32-100-ff: normal 700 32px / 100% var(--ff);
  --txt-700-30-175-ff: normal 700 30px / 175% var(--ff);
  --txt-700-24-100-ff: normal 700 24px / 100% var(--ff);
  --txt-700-22-180-ff: normal 700 22px / 180% var(--ff);
  --txt-700-18-180-ff: normal 700 18px / 180% var(--ff);
  --txt-700-18-100-ff: normal 700 18px / 100% var(--ff);
  --txt-700-15-175-ff: normal 700 15px / 175% var(--ff);
  --txt-700-14-180-ff: normal 700 14px / 180% var(--ff);
  --txt-700-14-100-ff: normal 700 14px / 100% var(--ff);
  --txt-700-12-100-ff: normal 700 12px / 100% var(--ff);
  --txt-700-9-100-ff: normal 700 9px / 100% var(--ff);
  --txt-600-24-100-ff: normal 600 24px / 100% var(--ff);
  --txt-400-52-100-ff: normal 400 52px / 100% var(--ff);
  --txt-400-42-100-ff: normal 400 42px / 100% var(--ff);
  --txt-400-40-100-ff: normal 400 40px / 100% var(--ff);
  --txt-400-32-100-ff: normal 400 32px / 100% var(--ff);
  --txt-400-30-100-ff: normal 400 30px / 100% var(--ff);
  --txt-400-24-100-ff: normal 400 24px / 100% var(--ff);
  --txt-400-23-100-ff: normal 400 23px / 100% var(--ff);
  --txt-400-22-100-ff: normal 400 22px / 100% var(--ff);
  --txt-400-21-100-ff: normal 400 21px / 100% var(--ff);
  --txt-400-20-100-ff: normal 400 20px / 100% var(--ff);
  --txt-400-18-180-ff: normal 400 18px / 180% var(--ff);
  --txt-400-18-175-ff: normal 400 18px / 175% var(--ff);
  --txt-400-18-171-ff: normal 400 18px / 171% var(--ff);
  --txt-400-18-160-ff: normal 400 18px / 160% var(--ff);
  --txt-400-18-100-ff: normal 400 18px / 100% var(--ff);
  --txt-400-16-100-ff: normal 400 16px / 100% var(--ff);
  --txt-400-14-175-ff: normal 400 14px / 175% var(--ff);
  --txt-400-14-100-ff: normal 400 14px / 100% var(--ff);
  --txt-400-13-100-ff: normal 400 13px / 100% var(--ff);
  --txt-400-12-100-ff: normal 400 12px / 100% var(--ff);
  --txt-400-11-180-ff: normal 400 11px / 180% var(--ff);
  --txt-400-9-175-ff: normal 400 9px / 175% var(--ff);
  --txt-400-9-100-ff: normal 400 9px / 100% var(--ff);
  --txt-400-7-100-ff: normal 400 7px / 100% var(--ff);
  --txt-300-18-100-ff: normal 300 18px / 100% var(--ff);
  --txt-300-16-160-ff: normal 300 16px / 160% var(--ff);
  --txt-300-16-100-ff: normal 300 16px / 100% var(--ff);
  --txt-300-14-160-ff: normal 300 14px / 160% var(--ff);
  --txt-300-14-100-ff: normal 300 14px / 100% var(--ff);
  --txt-300-7-100-ff: normal 300 7px / 100% var(--ff);

  --h3-fs28 {
    font-size: 28px;
  }
  --h4-fs24 {
    font-size: 24px;
  }
  --h5-fs20 {
    font-size: 20px;
  }
  --h6-fs16 {
    font-size: 16px;
  }

  --c-text-white: #fff;
  --c-text-black: #000;
  --c-color-link: #302d2d;
  --c-color-desc: #c5c1fe;
  --c-color-desc-2: #6b6868;
  --c-color-desc-3: #56565e;
  --c-color-desc-4: #e4e4e4;
  --c-color-desc-5: #b9b9b9;
  --c-color-desc-6: #747474;
  --c-color-desc-7: #e0e0e0;
  --c-color-desc-8: #c3c3c3;
  --c-color-data-news: #a9a9a9;
  --c-color-p: #535050;
  --c-background: #2378c9;
  --c-background-item: #54a0cf;
  --c-background-footer: #10406f;
  --c-background-btn-news: #5eb8f0;
  --c-background-menu: #0e6eaa;
  --c-background-btn: #f86d6d;
  --c-background-btn2: #5eb8f0;
  --c-background-features: #dfeefc;
  --c-background-item-news: #f6f6f6;
  --c-background-icons: #e7e7e7;
  --c-background-slide: rgba(255, 255, 255, 0.9);
  --c-background-img-news: rgba(46, 45, 45, 0.1);
  --c-box-shadow-1: 0 0 8px -1px rgba(29, 28, 28, 0.28);
  --c-box-shadow-2: 0 0 8px 2px rgba(108, 108, 108, 0.25);
  --c-box-shadow-3: -1px 1px 11px 3px rgba(46, 44, 44, 0.21);
  --c-background-prices: linear-gradient(
    222deg,
    #dfeefc 0%,
    rgba(167, 210, 251, 0.92) 100%
  );
  --c-background-line: #e2dfdf;
  --c-border-right: 1px solid rgba(180, 180, 180, 0.35);
  --c-border-bottom: 1px solid #ececec;
}
